header, footer, footer a, #show_hide_docs, #show_hide_cmakelists {
  color: #5d70ff;
}

#cmake, #results, footer {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0px;
  margin-bottom: 1em;
  padding: 0px 8px;
  background-color: #f2faf2;
  line-height: 140%;
  width: 98%;
}

footer {
  margin-top: 40px;
  font-size: 82%;
  background-color: #fbfbfb;
}

footer p span {
  float: right;
}

body {
  font-size: 15px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: #333;
  background-color: #fbfbfb;
  width: 80%;
  margin: 0 0 0 10%;
}

.subcommand_selector {
  margin-right: 1em;
}

#show_hide_docs {
  margin-left: 2em;
}

.inputs_expanded, .inputs_contracted {
  display: inline-block;
  width: 98%;
  margin: 5px 0 0 0;
  vertical-align: top;
}

.inputs_expanded {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
  transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
}

.inputs_contracted {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.inputs_contracted {
  width: 48%;
  margin-right: 2%;
}

.subcommand_selector {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background-color: #efc;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 90%;
  padding: 0em 1em 1em 1em;
  position: absolute;
  z-index: 5;
  top: 150%;
  left: 12%;
  transition-delay: 250ms;
}

.tooltip pre {
  font-size: 90%;
  color: #dc143c;
}

.subcommand_selector:hover .tooltip {
  visibility: visible;
}

#docs_wrapper {
  display: inline-block;
  width: 46%;
  vertical-align: top;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0px;
  padding: 1%;
  background-color: #efc;
  max-height: 1000px;
}

#docs_wrapper.ng-hide {
  max-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  opacity: 0;
}

#docs_wrapper.ng-hide-add, #docs_wrapper.ng-hide-remove, #docs.ng-hide-add, #docs.ng-hide-remove {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

#docs_wrapper.ng-hide-add.ng-hide-add-active {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms;
  transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms;
}

#docs_wrapper.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
                      width 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
                      border-color 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
                      margin-top 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms;
  transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
              width 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
              border-color 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms,
              margin-top 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) 150ms;
}

#docs.ng-hide {
  opacity: 0;
}

#docs.ng-hide-add.ng-hide-add-active {
  -webkit-transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940),
                      opacity 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940),
              opacity 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#docs.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
  transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
}

#docs > p {
  margin: 0 0 3px 0;
  padding-left: 3em;
}

#docs code {
  color: #006400;
}

#docs .special_char, .docs_for_string {
  color: #dc143c;
}

#docs .special_char {
  float: left;
  margin-left: -3em;
}

.text_input {
  width: 100%;
}

#text_area {
  height: 7em;
}

.section_title {
  display: inline-block;
  margin: 0.7em 0 0 0;
}

#cmake_code {
  padding-left: 1em;
}

#cmake_line_numbers {
  float: left;
  color: #0aa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cmakeSubcommand.ng-hide {
  opacity: 0;
}

#cmake.ng-hide {
  opacity: 0;
}

.cmakeSubcommand.ng-hide-add, .cmakeSubcommand.ng-hide-remove, #cmake.ng-hide-add, #cmake.ng-hide-remove {
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

#cmake.ng-hide-add.ng-hide-add-active, #cmake.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.cmakeSubcommand.ng-hide-add.ng-hide-add-active {
  -webkit-transition: all 150ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 150ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.cmakeSubcommand.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.keyword {
  color: #00f;
}

.string {
  color: #a31515;
}

#results {
  padding: 1em 8px;
  background-color: #def;
}

#results > pre {
  margin: 0;
  padding-left: 11em;
}

#results > pre > .result_label {
  border-radius: 2px;
  padding: 0px 4px;
  float: left;
  margin-left: -11em;
}

.match_result, .match_all_result, .replace_result, .numbered_result {
  border-radius: 2px;
  padding: 0px 4px;
}

.match_result {
  background-color: #ffd700;
}

.match_all_result {
  background-color: #b7f86d;
}

.replace_result {
  background-color: #e3cef6;
}

.numbered_result {
  background-color: #ffffe0;
}

pre, code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow: auto;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 8px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 90%;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 8px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.docs_for_string {
  margin: 0 0 1% 0;
}
