<!DOCTYPE html>
<html lang="en-GB">
<meta charset="UTF-8" />

<link rel="stylesheet" href="stylesheets/style.css" />
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/third_party/jquery-3.2.1.min.js"></script>
<script src="javascripts/third_party/angular.min.js"></script>
<script src="javascripts/third_party/angular-animate.min.js"></script>
<script src="javascripts/regex.js"></script>

<title>CMake Regex Tester</title>

<body ng-app="regexTester">
  <header>
    <h1>CMake Regex Tester</h1>
  </header>

  <main ng-controller="regexController">
    <label for="string_match" class="subcommand_selector">
      <input type="radio"
             name="subcommand"
             value="match"
             id="string_match"
             tabindex="1"
             ng-model="subcommand"
             ng-change="toggleSubcommand()" /> use <code>REGEX MATCH</code>
      <span class="tooltip"><pre>string(REGEX MATCH &lt;regex&gt; &lt;output variable&gt; &lt;input&gt; [&lt;input&gt;...])</pre>
      This will match the regular expression once and store the match in the output variable.</span>
    </label>

    <label for="string_match_all" class="subcommand_selector">
      <input type="radio"
             name="subcommand"
             value="matchAll"
             id="string_match_all"
             tabindex="1"
             ng-model="subcommand"
             ng-change="toggleSubcommand()" /> use <code>REGEX MATCHALL</code>
      <span class="tooltip"><pre>string(REGEX MATCHALL &lt;regex&gt; &lt;output variable&gt; &lt;input&gt; [&lt;input&gt;...])</pre>
      This will match the regular expression as many times as possible and store the matches in the output variable as a list.</span>
    </label>
    <label for="string_replace" class="subcommand_selector">
      <input type="radio"
             name="subcommand"
             value="replace"
             id="string_replace"
             tabindex="1"
             ng-model="subcommand"
             ng-change="toggleSubcommand()" /> use <code>REGEX REPLACE</code>
      <span class="tooltip"><pre>string(REGEX REPLACE &lt;regex&gt; &lt;replace_expression&gt; &lt;output variable&gt; &lt;input&gt; [&lt;input&gt;...])</pre>
      This will match the regular expression as many times as possible and substitute the replacement expression for the match in the output. The replace expression may refer to paren-delimited subexpressions of the match using <code>\1</code>, <code>\2</code>, ..., <code>\9</code>. Note that two backslashes (e.g. <code>\\1</code>) are required in CMake code to get a backslash through argument parsing if <code>replace_expression</code> is a <a href="https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#quoted-argument" target="_blank">quoted argument</a> rather than a <a href="https://cmake.org/cmake/help/latest/manual/cmake-language.7.html#bracket-argument" target="_blank">bracket argument</a>.</span>
    </label>

    <a href="javascript:;" id="show_hide_docs" ng-click="toggleDocs()">{{docsShowOrHide}} documentation for special characters</a>
    <div id="inputs_and_docs_wrapper">
      <div ng-class="inputsClass">
        <p class="section_title">Regular expression:</p>
        <div>
          <input type="text"
                 class="text_input"
                 placeholder="Enter your regular expression"
                 ng-model="regex"
                 ng-change="sendRegex()"
                 ng-trim="false"
                 autofocus
                 tabindex="2" />
        </div>
        <p class="section_title">Test string:</p>
        <div>
          <textarea class="text_input"
                    id="text_area"
                    placeholder="Enter your test string"
                    ng-model="testString"
                    ng-change="sendRegex()"
                    ng-trim="false"
                    tabindex="3"></textarea>
        </div>
        <p class="section_title" ng-show="subcommand === 'replace'">Replacement string:</p>
        <div ng-show="subcommand === 'replace'">
          <span class="cmake_replace"><input type="text"
                                             class="text_input"
                                             placeholder="Enter your replacement string"
                                             ng-model="replacementString"
                                             ng-change="sendRegex()"
                                             ng-trim="false"
                                             tabindex="4" /></span>
        </div>
      </div>

      <div id="docs_wrapper" ng-show="showDocs">
        <div id="docs" ng-show="showDocs">
          <p><code class="special_char">^</code> Matches at beginning of input</p>
          <p><code class="special_char">$</code> Matches at end of input</p>
          <p><code class="special_char">.</code> Matches any single character</p>
          <p><code class="special_char">[ ]</code> Matches any character(s) inside the brackets</p>
          <p><code class="special_char">[^ ]</code> Matches any character(s) not inside the brackets</p>
          <p>
            <code class="special_char">-</code> Inside brackets, specifies an inclusive range between characters
            on either side e.g. <code>[a-f]</code> is <code>[abcdef]</code> To match a literal <code>-</code> using
            brackets, make it the first or the last character e.g. <code>[+*/-]</code> matches basic mathematical operators.
          </p>
          <p><code class="special_char">*</code> Matches preceding pattern zero or more times</p>
          <p><code class="special_char">+</code> Matches preceding pattern one or more times</p>
          <p><code class="special_char">?</code> Matches preceding pattern zero or once only</p>
          <p><code class="special_char">|</code> Matches a pattern on either side of the <code>|</code></p>
          <p>
            <code class="special_char">()</code> Saves a matched subexpression, which can be referenced in the
            <code>REGEX REPLACE</code> operation. Additionally it is saved by all regular expression-related commands,
            including e.g. <code>if(MATCHES)</code>, in the variables <code>CMAKE_MATCH_&lt;n&gt;</code> for
            <code>&lt;n&gt;</code> 0..9.
          </p>
          <div>
            <p>
              <code>*</code>, <code>+</code> and <code>?</code> have higher precedence than concatenation.
              <code>|</code> has lower precedence than concatenation. This means that the regular expression
              <code>^ab+d$</code> matches <code>abbd</code> but not <code>ababd</code>, and the regular expression
              <code>^(ab|cd)$</code> matches <code>ab</code> but not <code>abd</code>.
            </p>
            <p>
              Taken from <a href="https://cmake.org/cmake/help/latest/command/string.html#regex-specification" target="_blank">
              CMake docs for <code>string</code> command</a>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="section_title">CMakeLists.txt:</p> (<a href="javascript:;" id="show_hide_cmakelists" ng-click="toggleCMakeList()">{{cmakeShowOrHide}}</a>)
    <div id="cmake" ng-show="showCMakeList">
      <pre id="cmake_line_numbers"></pre>
      <pre id="cmake_code">
<span class="keyword">cmake_policy</span>(SET CMP0053 NEW)
<span class="keyword">set</span>(Regex <span class="string">"{{regex}}"</span>)
<span class="keyword">set</span>(TestString <span class="string">[=[{{testString}}]=]</span>)
<span ng-show="subcommand === 'replace'"><span class="keyword">set</span>(Replace <span class="string">[=[{{replacementString}}]=]</span>)</span><div class="cmakeSubcommand" ng-show="subcommand === 'match'"><span class="keyword">string</span>(REGEX MATCH <span class="string">"${Regex}"</span> <span class="match_result">MatchResult</span> <span class="string">"${TestString}"</span>)</div><div class="cmakeSubcommand" ng-show="subcommand === 'matchAll'"><span class="keyword">string</span>(REGEX MATCHALL <span class="string">"${Regex}"</span> <span class="match_all_result">MatchAllResult</span> <span class="string">"${TestString}"</span>)</div><div class="cmakeSubcommand" ng-show="subcommand === 'replace'"><span class="keyword">string</span>(REGEX REPLACE <span class="string">"${Regex}"</span> <span class="string">"${Replace}"</span> <span class="replace_result">ReplaceResult</span> <span class="string">"${TestString}"</span>)</div></pre>
    </div>

    <div></div>
    <p class="section_title">Results:</p>
    <div id="results">
      <pre><span class="result_label">CMAKE_VERSION:</span><span ng-show="hasCMakeVersion">{{ matches.cmakeVersion }}</span></pre>
      <pre class="cmakeSubcommand" ng-show="subcommand === 'match'"><span class="result_label match_result">MatchResult:</span><span class="match_result" ng-show="hasMatchResult">{{ matches.matchResult }}</span></pre>
      <pre class="cmakeSubcommand" ng-show="subcommand === 'matchAll'"><span class="result_label match_all_result">MatchAllResult:</span><span class="match_all_result" ng-show="hasMatchAllResult">{{ matches.matchAllResult }}</span></pre>
      <pre class="cmakeSubcommand" ng-show="subcommand === 'replace'"><span class="result_label replace_result">ReplaceResult:</span><span class="replace_result" ng-show="hasReplaceResult">{{ matches.replaceResult }}</span></pre>
      <pre><span class="result_label">CMAKE_MATCH_COUNT:</span><span ng-show="hasMatchCount">{{ matches.cmakeMatchCount }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_0:</span><span class="numbered_result" ng-show="hasMatch0">{{ matches.cmakeMatch0 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_1:</span><span class="numbered_result" ng-show="hasMatch1">{{ matches.cmakeMatch1 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_2:</span><span class="numbered_result" ng-show="hasMatch2">{{ matches.cmakeMatch2 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_3:</span><span class="numbered_result" ng-show="hasMatch3">{{ matches.cmakeMatch3 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_4:</span><span class="numbered_result" ng-show="hasMatch4">{{ matches.cmakeMatch4 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_5:</span><span class="numbered_result" ng-show="hasMatch5">{{ matches.cmakeMatch5 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_6:</span><span class="numbered_result" ng-show="hasMatch6">{{ matches.cmakeMatch6 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_7:</span><span class="numbered_result" ng-show="hasMatch7">{{ matches.cmakeMatch7 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_8:</span><span class="numbered_result" ng-show="hasMatch8">{{ matches.cmakeMatch8 }}</span></pre>
      <pre><span class="result_label numbered_result">CMAKE_MATCH_9:</span><span class="numbered_result" ng-show="hasMatch9">{{ matches.cmakeMatch9 }}</span></pre>
      <pre><span class="result_label">Error message:</span><span ng-show="hasError">{{ matches.error }}</span></pre>
    </div>
  </main>

  <footer>
    <p>&copy; 2017 Fraser Hutchison. &nbsp;All rights reserved.&nbsp;&nbsp;
    <span>Please report any issues to <a href="https://gitlab.com/Fraser999/CMake-Regex/issues" target="_blank">the GitLab project page</a>.</span></p>
  </footer>

</body>
</html>
